@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import "tailwindcss";
@plugin "daisyui";

* {
  font-family: "Lora", serif;
}

[data-theme="light"] body {
  background-color: #e6e1ead8;
}

[data-theme="dark"] body {
  background-color: #111827;
}

.glass-card {
  background: rgba(255, 255, 255, 0.14);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.navbar .active {
  color: crimson;
  font-weight: bold;
  border: 1px solid #cac8c8ff;
  border-radius: 20px;
  background: rgb(242, 237, 237);
}
